<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shuheisuzuki.mixitrainingview" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinearLayoutPractice2Activity"
            android:label="@string/title_activity_linear_layout_practice2" >
        </activity>
        <activity
            android:name=".LinearLayoutPractice1Activity"
            android:label="@string/title_activity_linear_layout_practice1" >
        </activity>
        <activity
            android:name=".RelativeLayoutPractice1Activity"
            android:label="@string/title_activity_relative_layout_practice1" >
        </activity>
        <activity
            android:name=".RelativeLayoutPractice2Activity"
            android:label="@string/title_activity_relative_layout_practice2" >
        </activity>
        <activity
            android:name=".FrameLayoutPractice1Activity"
            android:label="@string/title_activity_frame_layout_practice1" >
        </activity>
        <activity
            android:name=".FrameLayoutPractice2Activity"
            android:label="@string/title_activity_frame_layout_practice2" >
        </activity>
        <activity
            android:name=".ScrollLayoutPractice1Activity"
            android:label="@string/title_activity_scroll_layout_practice1" >
        </activity>
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/title_activity_calculator" >
        </activity>
        <activity
            android:name=".FragmentPracticeActivity"
            android:label="@string/title_activity_fragment_practice" >
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="99104d85e97180215eed97a6542ce005f6cd9c75"/>
    </application>

</manifest>
